<div class="is-flex is-justify-content-center columns is-1 is-multiline is-variable" style="margin: 1em 0;">
    <article class="is-flex is-justify-content-space-between is-flex-direction-column panel is-success"
        style="width:90vw">

        <div class="panel-heading is-flex is-flex-direction-row is-justify-content-space-between">
            {{playlist.name}}
            {{#if connected}}
            <div style="display: flex; column-gap: 20px; justify-content: space-between;">
                {{#if playlist.private}}
                <form method="POST" action="/playlists/updatePlaylist">
                    <input type="hidden" name="idPlaylist" value={{playlist.id}} />
                    <input type="hidden" name="newStatus" value=0 />
                    <button type="submit" class="dropdown-item remove-to-playlist"
                        style="color:#3273dc ; border:none; background-color:transparent; padding:unset">
                        Make Public
                    </button>
                </form>
                {{else}}
                <form method="POST" action="/playlists/updatePlaylist">
                    <input type="hidden" name="idPlaylist" value={{playlist.id}} />
                    <input type="hidden" name="newStatus" value=1 />
                    <button type="submit" class="dropdown-item remove-to-playlist"
                        style="color:#3273dc ; border:none; background-color:transparent; padding:unset">
                        Make Private
                    </button>
                </form>
                {{/if}}
                <form method="POST" action="/playlists/remove-playlist">
                    <input type="hidden" name="idPlaylist" value={{playlist.id}} />
                    <button type="submit" class="dropdown-item remove-to-playlist"
                        style="color:#3273dc ; border:none; background-color:transparent; padding:unset">
                        Remove
                    </button>
                </form>
            </div>
            {{/if}}
        </div>
        {{#if connected}}
        <table class="table is-striped">
            <thead>
                <tr style="background-color: black;">
                    <th>TITLE</th>
                    <th>ARTIST</th>
                    <th>ALBUM</th>
                    <th>LENGTH</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each songs as |song songId|}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{artist}}</td>
                    <td>{{album}}</td>
                    <td>{{duration}}</td>
                    <td>
                        <div class="dropdown is-right is-hoverable">
                            <div class="dropdown-trigger">
                                <form method="POST" action="/songs/remove-song-to-playlist">
                                    <input type="hidden" name="idPlaylist" value={{playlist_id}} />
                                    <input type="hidden" name="idSong" value={{song.id}} />
                                    <button type="submit" class="dropdown-item remove-to-playlist"
                                        style="color:#3273dc ; border:none; background-color:transparent; padding:unset">
                                        Remove
                                    </button>
                                </form>
                            </div>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{else}}
        <table class="table is-striped">
            <thead>
                <tr style="background-color: black;">
                    <th>TITLE</th>
                    <th>ARTIST</th>
                    <th>ALBUM</th>
                    <th>LENGTH</th>
                </tr>
            </thead>
            <tbody>
                {{#each songs}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{artist}}</td>
                    <td>{{album}}</td>
                    <td>{{duration}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
        {{/if}}
    </article>
</div>

<style>
    .remove-to-playlist:hover {
        cursor: pointer;
    }
</style>